body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.21;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-align: center;
  text-transform: uppercase;
  color: #111111;
}

.section-title span {
  color: #fd9222;
}

/*-------------- HEADER------------- */

.header-logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
  color: #111;
}
.header-logo-italic {
  font-style: italic;
}

.header-menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #111;
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: #fd9222;
}

/*-------------- HERO------------- */

.hero {
  background-color: #1e1823;
}
.hero-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: #fff;
}
.hero-btn {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.21;
  cursor: pointer;
}
.hero-btn-link {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.21;
}
.hero-btn-scroll {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.03em;
  color: #fff;
}
/*-------------- FEATURES------------- */

.features {
  background-color: #1e1823;
}
.visually-hidden {
}
.features-list {
}
.features-item {
}
.features-subtitle {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.22;
}
.features-item-text {
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
  letter-spacing: 0.02em;
}
/*-------------- TASTE------------- */

.taste {
}
.taste-title {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: #111;
}
.section-title {
}
.taste-text {
}
.taste-list {
}
.taste-item {
}
.taste-image {
}
.taste-subtitle {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #fff;
}

/*-------------- MADE------------- */

.made {
}
.made-title {
}
.section-title {
}
.made-image {
}
.made-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  color: #111;
}
.made-list {
}
.made-item {
}
.made-item-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #111;
  font-family: "Montserrat";
}

/*-------------- LOVED------------- */

.loved {
}
.loved-title {
}
.section-title {
}
.loved-list {
}
.loved-item {
}
.loved-image {
}
.loved-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  color: #111;
}
.loved-item-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
}
.loved-btn {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  color: #111;
  cursor: pointer;
}

/*-------------- fOOTER------------- */

.footer {
  background-color: #1e1823;
}
.footer-text {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: #fff;
}
.footer-text span {
  color: #fd9222;
}
.footer-subtitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #fff;
}
.footer-address {
  font-style: normal;
}
.footer-address-list {
}
.footer-address-item {
}
.footer-address-link {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fff;
}
.footer-menu-list {
}
.footer-menu-item {
}
.footer-menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #fff;
}
