body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.21;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.address {
  font-style: normal;
}

.button {
  cursor: pointer;
}

.container {
  width: 1166px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-align: center;
  text-transform: uppercase;
  color: #111111;
}

.section-title span {
  color: #fd9222;
}

/*-------------- HEADER------------- */

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}
.header-logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
  color: #111;
}

.header-logo-italic {
  font-style: italic;
}
.header-menu-list {
  display: flex;
  margin-left: auto;
  gap: 24px;
}
.header-menu-link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #111;
  padding-top: 32px;
  padding-bottom: 32px;
}
.current {
  position: relative;
}

.current::after {
  content: "";
  position: absolute;
  height: 4px;
  width: 100%;
  background-color: #fd9222;
  left: 0;
  border-radius: 2px;
  bottom: 0;
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: #fd9222;
}
.header-container {
  display: flex;
  align-items: center;
}

.header-soc-list {
  display: flex;
  margin-left: 90px;
  gap: 18px;
}
.header-soc-item {
  width: 40px;
  height: 40px;
}

.header-soc-link {
  width: 100%;
  height: 100%;
  /* background-color: #fd9222; */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-soc-link:hover {
  background-color: aquamarine;
}

.header-soc-link:hover .header-soc-icon {
  stroke: tomato;
}

.header-soc-icon {
  fill: transparent;
  stroke: #111111;
}

/*-------------- HERO------------- */

.hero {
  background-color: #1e1823;
}
.hero-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: #fff;
}
.hero-btn {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.21;
  cursor: pointer;
}
.hero-btn-link {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.21;
}
.hero-btn-scroll {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.03em;
  color: #fff;
}
/*-------------- FEATURES------------- */

.features {
  background-color: #1e1823;
}
.visually-hidden {
}
.features-list {
}
.features-item {
}
.features-subtitle {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.22;
}
.features-item-text {
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
  letter-spacing: 0.02em;
}
/*-------------- TASTE------------- */

.taste {
}
.taste-title {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: #111;
}
.section-title {
}
.taste-text {
}
.taste-list {
}
.taste-item {
}
.taste-image {
}
.taste-subtitle {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #fff;
}

/*-------------- MADE------------- */

.made {
}
.made-title {
}
.section-title {
}
.made-image {
}
.made-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  color: #111;
}
.made-list {
}
.made-item {
}
.made-item-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #111;
  font-family: "Montserrat";
}

/*-------------- LOVED------------- */

.loved {
}
.loved-title {
}
.section-title {
}
.loved-list {
}
.loved-item {
}
.loved-image {
}
.loved-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  color: #111;
}
.loved-item-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
}
.loved-btn {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  color: #111;
  cursor: pointer;
}

/*-------------- fOOTER------------- */

.footer {
  background-color: #1e1823;
}
.footer-text {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: #fff;
}
.footer-text span {
  color: #fd9222;
}
.footer-subtitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #fff;
}
.footer-address {
  font-style: normal;
}
.footer-address-list {
}
.footer-address-item {
}
.footer-address-link {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fff;
}
.footer-menu-list {
}
.footer-menu-item {
}
.footer-menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #fff;
}
